<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <add connectionString="Data Source=DESKTOP-R2G678A\SQLEXPRESS;Initial Catalog=Alfanet; User Id=sa;Password=1010;Connect Timeout=720" name="sqlConnectionString" />
    </connectionStrings>
    <system.webServer>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>
